#floatingtoolbar {
	transform: scale(1.5);
	transform-origin: top left;
}

#zoomslider {
  transform: scale(1.5);
  transform-origin: top right;
}

#playerzone .player {
  display: none;
}

.d20contextmenu ul li {
  padding: 6px 5px !important;
}