#floatingtoolbar {
  transform: scale(1.5);
  transform-origin: top left;
}

#playerzone .player {
  display: none;
}

.ui-dialog-titlebar-close {
  transform: scale(1.5);
  transform-origin: center center;
}
